@model List<Guest>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Residents</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="webthemez">
    <title>Golden-Hotel-Free-HTML5-Bootstrap-Web-Template</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <link href="~/Content/css/prettyPhoto.css" rel="stylesheet">
    <link href="~/Content/css/styles.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="~/Content/css/slider-style.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/slider-custom.css" />
    <script type="text/javascript" src="js/modernizr.custom.79639.js"></script>

    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
</head>
<body>
    <header id="header">
        <nav id="main-nav" class="navbar navbar-default " role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="~/Content/images/logo.png" alt="logo"></a>
                </div>
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Rooms", "Rooms", "Home")</li>
                        <li>@Html.ActionLink("Residents", "residents", "Home")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <table class="table @*table-bordered*@ table-hover table-striped custom-table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(a => a[0].GuestId) </th>
                    <th>@Html.DisplayNameFor(a => a[0].FirstName)</th>
                    <th>@Html.DisplayNameFor(a => a[0].LastName)</th>
                    <th>@Html.DisplayNameFor(a => a[0].Address)</th>
                    <th>@Html.DisplayNameFor(a => a[0].Phone)</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.GuestId</td>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Address</td>
                        <td>@item.Phone</td>
                        <td>@Html.ActionLink("Details", "details", "home", new { guestid = item.GuestId }, new { @class = "btn btn-success" })</td>
                        @*<td>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                Check Out
                            </button>
                            <div class="modal fade" data-backdrop="false" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalCenterTitle">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are You Sure ?
                                            @item.GuestId
                                            @item.FirstName
                                            @item.LastName
                                            @item.Address
                                            @item.Phone
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            @Html.ActionLink("Check Out", "check_out", "home", new { guestid = item.GuestId }, new { @class = "btn btn-primary" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>*@
                        <td>@Html.ActionLink("Check Out", "check_out", "home", new { guestid = item.GuestId }, new  { @class = "btn btn-primary" , onclick = "return confirm('Are sure wants to delete?');" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>
